.container { 
    display: flex;
    }
  .red {
    background: orangered;
    display: flex;
  }
  .green {
    background: yellowgreen;
  }
  .blue {
    background: steelblue;
  }
  .pink{
    background: pink;
    margin: auto;
  }
  .yellow{
    background: yellow;
    margin: auto;
  }
  .flex-items{
      background-color: peru;
      padding: 66px;
  }
  .flex-item{
      background-color: pink;
      width: 100%;
      height: 300px;
  }
  .container div {
    font-size: 5vw;
    padding: .5em;
    color: white;
    flex: 1;
  }